@use 'variable';


.event{
    padding: 80px 0;


    &--primary{
         background-image: linear-gradient(180deg,
                                           variable.$corGradPrimary1 0%,
                                           variable.$corGradPrimary2 40%,
                                           variable.$corGradPrimary3 100%
                                           );
             }
    &--inicio{         
        background-image: linear-gradient(
                        180deg,
                        variable.$corGradInicio1 0%,
                        variable.$corGradInicio2 50%,
                        variable.$corGradInicio3 100%
                    );
             }

      &--meio{
           background-image: linear-gradient(
                            180deg,
                            variable.$corGradMeio1 0%,
                            variable.$corGradMeio2 40%,
                            variable.$corGradMeio3 100%
    );
            }
           
      &--fim {
                background-image: linear-gradient(
                    180deg,
                    variable.$corGradFim1 0%,
                    variable.$corGradFim2 50%,
                    variable.$corGradFim3 100%
                );
            }

            &--image-left{
                .container{
                   flex-direction: row-reverse; 
                }
            }

    .container{
        display: flex;
        gap:40px;
    }

    &__image{
        max-width: 360px;
        border-radius: 10px;
    }

    &__details{

        &__title{
             font-size: 36px;
             font-weight:bold;
             margin-bottom: 32px;
        }
        
        &__description{
            line-height: 22px;
        }
    }

    @media(max-width:600px){
        .container{
            display: block;
        }
        &__image{
            width:100%;
        }

        &__details{
            margin-right: 0;
            margin-bottom: 16px;
        }

    }
}

// event__details__title