//cores

/*text*/
$corDeTextP:rgba(255,255,255,1);
$corDeTextInf:#000;

//gradiente

$corGradPrimary1: rgba(58, 0, 0, 1);    
$corGradPrimary2: rgba(138, 0, 0, 1);   
$corGradPrimary3: rgba(0, 0, 0, 1);      
$corGradInicio1: rgba(0, 0, 0, 1);       
$corGradInicio2: rgba(10, 15, 26, 1);    
$corGradInicio3: rgba(28, 31, 41, 1);  
$corGradMeio1: rgba(26, 0, 3, 1);        
$corGradMeio2: rgba(77, 0, 20, 1);       
$corGradMeio3: rgba(13, 13, 13, 1);   
$corGradFim1: rgba(32, 0, 11, 1);        
$corGradFim2: rgba(18, 0, 9, 1);         
$corGradFim3: rgba(0, 0, 0,1 );   

//butto
$corTxtBtnPri:#fff;
$corBtnPrimary:#4f2ac3;

//info
$corFundoInf:#fff;

//footer
$corFundFoot:#0b0b0b;
$corFootText1:#ccc;
$corFootText2:#777;

